* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  transition: 0.2s;
}

:root {
  --theme-light: white;
  --theme-dark: #343434;
  --text-light: #ffffff;
  --text-dark: #343434;
}

html[theme="light"]:root {
  --theme: var(--theme-light);
  --text: var(--text-light);
}

html[theme="dark"]:root {
  --theme: var(--theme-dark);
  --text: var(--text-light);
}

body {
  background-color: var(--theme);
  color: var(--text);
}

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--theme);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
