* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --card-gap: 2.5rem;
  --black: #333333;
  --orange: #ff5100;
}

body {
}

p,
h1,
h2,
h3 {
  color: var(--black);
  position: relative;
}

h2 {
  margin-bottom: 2rem;
}

h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: var(--orange);
  left: 0;
  bottom: -8px;
}
h2::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 45px;
  background-color: var(--orange);
  left: 0;
  bottom: -3px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

input {
  margin-bottom: 0.8rem;
}

.cta-button {
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  background-color: var(--orange);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  color: white;
}

.cta-button:hover {
  background-color: #ca4407;
}
.cta-button:active {
  transform: scale(0.95);
}

.input-field {
  padding: 0.5rem;
  border: 1px solid lightgray;
  background-color: white;
  font-size: 1rem;
  border-radius: 5px;
}

/*HEADER*/
header {
  padding: 3rem 0;
  background-color: rgb(245, 245, 245);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container figure {
  display: flex;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3rem;
}

header nav ul li a {
  color: var(--black);
  /* text-transform: uppercase; */
  border-bottom: 2px solid transparent;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  transition: 0.2s;
}

header nav ul li a:hover {
  border-bottom-color: var(--orange);
}

@media screen and (max-width: 960px) {
  header {
    padding: 1.5rem 0;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}

/*MAIN*/

main {
  height: 100%;
  padding: 3rem 0;
}
main .container {
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}

/* .column {
  width: 100%;
  display: flex;
  gap: 3rem;
} */

/*CARDS*/
.customer-cards {
  display: flex;
  justify-content: flex-start;
  gap: var(--card-gap);
  width: 100%;
  height: auto;
  padding: 1rem;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

.customer-cards h2 {
  width: 100%;
}

.customer-card {
  padding: 1rem;
  border: 2px solid rgb(235, 235, 235);
  background-color: rgb(253, 253, 253);
  border-radius: 5px;
  transition: 0.2s;
  cursor: auto;
  /* width: calc(25% - calc(var(--card-gap) / 2)); */
  width: calc(100% / 4 - (3 * var(--card-gap)) / 4);
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.customer-card .card-name {
  font-size: 1.3rem;
  color: var(--black);
}
.customer-card .card-number {
  font-size: 1.1rem;
  color: #7a7a7a;
  font-style: italic;
}

.customer-card:hover {
  box-shadow: 0 0 8px 3px rgb(35 35 35 / 5%);
}

@media screen and (max-width: 960px) {
  .customer-cards {
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .customer-card {
    width: calc(50% - (0.25 * var(--card-gap)));
  }
}
@media screen and (max-width: 520px) {
  .customer-card {
    width: 100%;
  }
}

/* CREATE FORM */
.create-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  margin-bottom: 5rem;
}

.submit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* CHECKER */
.check-numbers {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  padding: 5rem;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
}
.check-numbers form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.check-numbers p {
  display: none;
}

/*FOOTER*/
footer {
  padding: 3rem 0;
  background-color: rgb(245, 245, 245);
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
