* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-gap: 2.5rem;
}

body {
  font-family: "Inter";
}

p,
h1,
h2,
h3 {
  color: rgb(35, 35, 35);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.cta-button {
  padding: 0.5rem;
  /* border: 2px solid #ff5100; */
  border: none;
  font-size: 1rem;
  background-color: #ff5100;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  color: white;
}

.cta-button:hover {
  background-color: #ca4407;
  /* color: rgb(35, 35, 35); */
}
.cta-button:active {
  transform: scale(0.95);
}

.input-field {
  padding: 0.5rem;
  border: 1px solid lightgray;
  background-color: white;
  font-size: 1rem;
  border-radius: 5px;
}

/*HEADER*/
header {
  padding: 3rem 0;
  background-color: #f3f3f3;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3rem;
}

header nav ul li a {
  color: rgb(35, 35, 35);
  text-decoration: none;
  text-transform: uppercase;
}

header nav ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

@media screen and (max-width: 960px) {
  header {
    padding: 1.5rem 0;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}

/*MAIN*/

main {
  height: 100%;
  padding: 3rem 0;
}
main .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*CARDS*/
.customer-cards {
  display: flex;
  justify-content: space-between;
  gap: var(--card-gap);
  width: 100%;
  height: auto;
  padding: 1rem;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

.customer-card {
  padding: 1rem;
  border: 2px solid lightgrey;
  border-radius: 5px;
  transition: 0.2s;
  cursor: auto;
  width: calc(50% - calc(var(--card-gap) / 2));
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.customer-card:hover {
  box-shadow: 0 0 5px 3px rgb(0 0 0 / 10%);
}

@media screen and (max-width: 960px) {
  .customer-cards {
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .customer-card {
    width: 100%;
  }
}

/* FORM */
.submit-form {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* CHECKER */
.check-numbers {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.check-numbers form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.check-numbers p {
  display: none;
}

/*FOOTER*/
footer {
  padding: 3rem 0;
  background-color: antiquewhite;
}
